.introduction {
  display: flex;
  gap: 2rem;
  align-items: center;

  margin-top: 10rem;

  .about {
    width: 40%;
    span {
      background: linear-gradient(
        93.83deg,
        var(--purple) 1.7%,
        var(--pink) 135.91%
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;

      font: 400 1.375rem "Roboto Mono", monospace;
    }

    h1 {
      margin-top: 1rem;

      color: var(--title);
      font: 700 2.25rem "Roboto", sans-serif;
    }

    p {
      margin: 0.5rem;
      color: var(--text);
      font: 400 1.125rem "Roboto Mono", monospace;
    }

    a {
      display: inline-block;
      margin-top: 2rem;
      padding: 1rem 2rem;

      border: 1px solid var(--purple);
      border-radius: 0.125rem;

      color: var(--title);
      font: 500 1.625rem "Roboto", sans-serif;

      transition: background-color 0.3s;

      &:hover {
        background: linear-gradient(
          93.83deg,
          var(--pink) 1.7%,
          var(--purple) 135.91%
        );
      }
    }
  }

  .tecnology {
    margin: 0 auto;
    max-width: 500px;

    h2 {
      color: var(--title);
      font: 500 2rem "Roboto", sans-serif;

      &::before {
        content: "";
        display: block;
        width: 4rem;
        height: 4px;
        border-radius: 100px;
        background: linear-gradient(
          93.83deg,
          var(--pink) 1.7%,
          var(--purple) 135.91%
        );
        margin-bottom: 0.5rem;
      }
    }

    ul {
      margin-top: 1.825rem;

      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;

      li {
        display: flex;
        gap: 0.5rem;

        flex-direction: column;
        align-items: center;
      }
    }
    .aboutTechnology {
      display: block;
      margin-top: 2rem;
    }
  }
}
