* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h2 {
  color: var(--title);
  font: 700 2.25rem "Roboto", sans-serif;
}
h2 span {
  color: var(--pink);
  font: 700 2.25rem "Roboto", sans-serif;
}

.container {
  width: min(90%, 1120rem);
  margin: auto;
}

:root {
  --background: #0a0c14;
  --blueDark: #111422;
  --gray: #999999;
  --title: #ffffff;
  --text: #f4f4f4;
  --purple: #835afd;
  --blue: #2849f7;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
html {
  background: var(--background);
  color: var(--text);
  scroll-behavior: smooth;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  transition: filter 0.3s;
}
a:hover {
  filter: brightness(0.7);
}

header {
  display: flex;
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 99999;
  background: var(--blueDark);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
header .container nav ul a {
  color: var(--title);
  font-size: 1.25rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
header .container .socialMediaLinks {
  margin-left: 2rem;
  display: flex;
  gap: 2rem;
}

.introduction {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
}
.introduction .about .developer {
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
  color: var(--blue);
}
.introduction .about .developer .textEffect::after {
  content: "|";
  opacity: 1;
  display: inline-block;
  animation: blink 0.7s infinite;
}
.introduction .about h1 {
  margin-top: 0.5rem;
  color: var(--title);
  font-weight: bold;
  font-size: 2.5rem;
}
.introduction .about p {
  margin-top: 1rem;
  color: var(--text);
  font-family: "Roboto Mono", monospace;
  font-size: 1.125rem;
  max-width: 50rem;
}
.introduction .about a {
  display: inline-block;
  margin-top: 3rem;
  background-image: linear-gradient(to left, var(--blue), var(--purple));
  color: var(--title);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.5rem 2.5rem;
  border-radius: 0.125rem;
}
.introduction .technologies h2 {
  font-size: 2rem;
}
.introduction .technologies h2:before {
  content: "";
  display: block;
  height: 4px;
  width: 50px;
  background-image: linear-gradient(to left, var(--blue), var(--purple));
  margin-bottom: 0.5rem;
}
.introduction .technologies ul {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}
.introduction .technologies ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.introduction .technologies ul li span {
  visibility: hidden;
  position: absolute;
  top: 70px;
  z-index: 9999;
  text-align: center;
  font-size: 1.2rem;
  background: linear-gradient(to left, var(--blue), var(--purple));
  padding: 1rem;
  border-radius: 0.5rem;
}
.introduction .technologies ul li:hover span {
  visibility: visible;
  animation: teste 0.3s;
}

.separator {
  display: block;
  margin: auto;
  width: 45px;
  height: 27px;
  position: relative;
  animation: floatEffect 2s infinite;
}

@keyframes teste {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.projects {
  margin-top: 2rem;
  padding: 2rem 0;
  background: var(--blueDark);
}
.projects .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects .container .header h2 {
  font-size: 2rem;
  font-weight: bold;
}
.projects .container .header h2 span {
  color: var(--blue);
  font-size: 3rem;
}
.projects .container .header a {
  border: 2px solid;
  border-image: linear-gradient(227.91deg, var(--blue) 0%, var(--purple) 100%) 1;
  padding: 1rem 2rem;
  color: var(--title);
  font-size: 1.25rem;
  font-weight: 500;
}
.projects .container .projectsList {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.projects .container .projectsList .project {
  position: relative;
}
.projects .container .projectsList .project .projectPhoto {
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
  width: 90%;
}

.project:hover .aboutProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutProject {
  display: none;
  animation: showAboutProject 0.3s;
  position: absolute;
  z-index: 0;
  top: 0;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.9);
  width: 90%;
  height: 100%;
}
.aboutProject p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}
.aboutProject span {
  display: block;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.125rem;
  font-family: "Roboto Mono", monospace;
}
.aboutProject ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.aboutProject .buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.aboutProject .buttons a {
  color: var(--title);
  border: 2px solid var(--blue);
  border-radius: 0.125rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.225rem;
}

.aboutMe {
  padding: 6rem 0;
  z-index: 100;
  position: relative;
  background: var(--background);
  text-align: center;
}
.aboutMe h2 {
  font-size: 2rem;
  font-weight: bold;
}
.aboutMe h2 span {
  color: var(--blue);
  font-size: 3rem;
}
.aboutMe p {
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.studies {
  padding: 2rem;
  background: var(--blueDark);
}
.studies h2 {
  font-size: 2rem;
  font-weight: bold;
}
.studies h2 span {
  color: var(--blue);
  font-size: 3rem;
}
.studies .cards {
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.studies .cards .card {
  margin: auto;
  padding: 1rem;
  background: var(--background);
  width: 250px;
  border-radius: 1rem;
  position: relative;
}
.studies .cards .card p {
  padding: 2rem 0;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}
.studies .cards .card span {
  color: var(--gray);
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}
.studies .cards .card .local {
  display: block;
  text-align: center;
}
.studies .cards .card:before {
  content: "";
  display: block;
  width: 5px;
  height: 120px;
  background: linear-gradient(var(--blue), var(--purple));
  position: absolute;
  left: -4px;
}

.contact {
  margin-top: 6rem;
  text-align: center;
}
.contact h2 {
  font-size: 2rem;
  font-weight: bold;
}
.contact h2 span {
  color: var(--blue);
  font-size: 3rem;
}
.contact .contacts {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.contact .contacts p {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

footer {
  margin-top: 6rem;
  padding: 1rem 0;
  background: var(--blueDark);
  text-align: center;
}
footer p {
  font-family: "Roboto Mono", monospace;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes floatEffect {
  0%, 100% {
    top: -10px;
  }
  50% {
    top: 0;
  }
}
@keyframes showAboutProject {
  from {
    top: 300px;
  }
  to {
    top: 0;
  }
}
@media (max-width: 1200px) {
  .studies .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 950px) {
  .studies .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .studies .cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1300px) {
  .introduction {
    padding-top: 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
  }
}
@media (max-width: 600px) {
  .introduction .about h1 {
    text-align: center;
  }
  .introduction .about a {
    display: block;
    text-align: center;
    margin: 2rem auto;
  }
}
@media (max-width: 500px) {
  .introduction .technologies .technologiesList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  .projects .container .projectsList {
    display: flex;
    flex-direction: column;
    gap: 2fr;
  }
}
@media (max-width: 600px) {
  .projects .projectsList .project .aboutProject ul li img {
    width: 70%;
  }
  .projects .projectsList .project .aboutProject a {
    border: none;
  }
  .projects .container .header {
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media (max-width: 500px) {
  .projects .projectsList .project .aboutProject span {
    display: none;
  }
}
@media (max-width: 650px) {
  .contact .contacts {
    display: block;
  }
  .contact .contacts div + div {
    margin-top: 2rem;
  }
}
@media (max-width: 1100px) {
  header .container {
    display: grid;
    grid-template-areas: "logo links nav";
  }
  header .container nav {
    grid-area: nav;
  }
  header .container .logo {
    grid-area: logo;
  }
  header .container .socialMediaLinks {
    grid-area: links;
    margin: 0;
  }
}
#btn-mobile {
  display: none;
}

@media (max-width: 1100px) {
  header #nav #menu {
    display: flex;
    position: absolute;
    width: 100%;
    top: 85px;
    right: 0;
    background-image: linear-gradient(to left, var(--blue), var(--purple));
    flex-direction: column;
    justify-content: start;
    height: 1px;
    z-index: 9999;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.6s;
  }
  header #nav #menu li {
    padding: 0.5rem 0;
  }
  header #nav #menu li a {
    font-size: 1.5rem;
  }
  header #nav #menu li:first-child {
    margin-top: 2rem;
  }
  header #nav.active #menu {
    height: calc(100vh - 85px);
    visibility: visible;
    overflow-y: auto;
  }

  #btn-mobile {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
    color: var(--title);
    font-size: 1.25rem;
    font-family: "Roboto Mono", monospace;
  }
  #btn-mobile #hamburguer {
    width: 30px;
    border-top: 2px solid var(--blue);
    color: var(--blue);
  }
  #btn-mobile #hamburguer::after, #btn-mobile #hamburguer:before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer:before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer:after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
body::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--blue), var(--purple));
  border-radius: 0.5rem;
}

/*# sourceMappingURL=index.css.map */
